
<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button color="medium" defaultHref="/definir"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">Editar ruta</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-float-left ion-margin ion-padding">
  <div id="floating-panel" class="form-check">
    <ion-grid>
      <ion-row class="ion-justify-content-start">
        <ion-col size="12">
          <ion-item>
            <ion-label>Inicio de ruta:</ion-label>
            <ion-input [(ngModel)]="start" [disabled]="isInputDisabled">{{start_holder}}</ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label>Final de la ruta:</ion-label>
            <ion-input [(ngModel)]="end" [disabled]="isInputDisabled">{{end_holder}}</ion-input>
          </ion-item>
          <br>
        </ion-col>

        <!-- FECHAS - HORA -->
        <ion-col size="12">
          <ion-label>Solo puedes editar la fecha y hora de las rutas</ion-label>
          <ion-datetime-button datetime="datetime"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime" [(ngModel)]="timedate"></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-col>

        <!-- DIFICULTAD -->
        <!-- <ion-col size="12">
          <ion-list>
            <ion-item>
              <ion-select placeholder="Niveles" [(ngModel)]="difi">
                <ion-select-option value="1">Bajo</ion-select-option>
                <ion-select-option value="2">medio</ion-select-option>
                <ion-select-option value="3">alto</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </div>

  <div #map id="map"></div>

  <p class="ion-text-center">
    <ion-button color="dark" class="card-img-top" (click)="obtenerValuesEditRutaMaps()" expand="block">
      editar ruta
    </ion-button>
  </p>
</ion-content>