<app-header class="ion-text-center" titulo="Editar cuenta "> </app-header>
<ion-content class="ion-float-left ion-margin ion-padding">
  <ion-grid>
    <ion-row>
      <!-- <ion-col size="12" size-lg="3" size-md="4" size-sm="6"> -->
      <ion-col>
        <h1>Ingresa tus datos</h1>
        <hr />
        <form class="mid-form" [formGroup]="formActualizar" (ngSubmit)="onSubmit()">
          <div class="form-check">
            <ion-item>
              <ion-input type="name"maxlength="20" formControlName="name">{{full_name_holder}}</ion-input>
            </ion-item><br />
          </div>
          <div class="form-check">
            <ion-item>
              <ion-input type="familyName "  maxlength="20" name="last_name"
                formControlName="lastname">{{last_name_holder}}</ion-input> </ion-item><br />
          </div>
          <div class="form-check">
            <ion-item>
              <ion-input type="email"  maxlength="50" name="email"
                formControlName="email" maxlength="50" disabled>{{email_holder}}</ion-input> </ion-item><br />
          </div>
          <div class="form-check">
            <ion-item>
              <ion-input type="password"  maxlength="10"
                formControlName="password">{{password_holder}}</ion-input> </ion-item><br />
          </div>
          <div class="form-check">
            <ion-item>
              <ion-input type="password" placeholder="Confirmar Contraseña:" maxlength="10"
                formControlName="confirmpassword"></ion-input> </ion-item><br />
          </div>
          <p class="ion-text-center">
            <ion-button type="submit" color="dark" class="card-img-top" expand="block">
              Editar cuenta
            </ion-button>
          </p>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>