<app-header class="ion-text-center" titulo="Recuper contraseña "></app-header>

<ion-content class="ion-float-left ion-margin ion-padding ">
    

                <h1>Introduce el correo de tu cuenta </h1>
                <br>


                <form class="mid-form" >
                    <div class="modal-content">
                        <ion-list lines="none">
                            <ion-item>
                                <ion-input type="text" placeholder="Escribe un Codigo ..."
                                    [(ngModel)]="codigoc" name="comentario_"></ion-input><br>
                                <ion-input type="password" placeholder="Escribe un contraseña.."
                                    [(ngModel)]="contra" name="comentario_"></ion-input>
                                <ion-button slot="end" type="submit" (click)="codigo()"><ion-icon
                                        name="paper-plane-outline"></ion-icon></ion-button>
                            </ion-item>
                        </ion-list>
                    </div>
                </form>
                <br>


            
       
</ion-content>
