<div
  id="preloader"
  class="preloader ion-flex-column ion-justify-content-center ion-align-items-center"
>
  <ion-img
    class="animation__shake"
    src="https://static.vecteezy.com/system/resources/thumbnails/011/587/638/small/gradation-multicolor-flying-hummingbird-logo-modern-style-memorable-design-vector.jpg"
    alt="Bicycle Route"
  ></ion-img>
  <ion-text class="animation__shake">
    <h1><strong>BICYCLE ROUTE</strong></h1>
  </ion-text>
</div>

<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"><strong>Bicycle Route</strong></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" id="content-ion-body">
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col size="12" class="ion-text-center">
        <ion-text>
          <h1><strong>¡BIENVENIDO!</strong></h1>
        </ion-text>
      </ion-col>
      <ion-col size="12" size-md="12" class="ion-margin-top">
        <ion-row>
          <ion-col size="12">
            <ion-button
              color="dark"
              expand="block"
              [routerLink]="['/iniciar-seccion']"
              >Iniciar sesion</ion-button
            >
          </ion-col>
          <ion-col size="12">
            <ion-button
              color="medium"
              expand="block"
              [routerLink]="['/registrar']"
              >Crear cuenta</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="ion-margin-tyc">
        <ion-text color="light">
          <p>
            Al registrarse, acepta los términos y condiciones, las políticas de
            privacidad de datos y las políticas de cookies.
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
