ion-backdrop {
    opacity: 0.9;
    background: #c5c5c5;
  }

  #logo-header-bi{
    max-width: 60%;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
  }

  #img-logo{
    max-width: 70%;
  }

  #gif-bici{
    max-width: 100%;
  }

#pagina_de_inicio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c5c5c5, #ffffff00;
    width: 90%;
    height: 100px;
    border-radius: 10px;
  }