<ion-backdrop [visible]="true" id="background-font"></ion-backdrop>

<ion-header>
  <ion-toolbar>
    <ion-title>
      <img id="logo-header-bi" alt="Logo de bicicletas" src="../../../assets/logos/Logo blanco 1.png" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h4>Bienvenido</h4>

  <p>Esta es una aplicación que tiene con fin, el de recrear,
     motivar e incentivar el deporte, en esta aplicación podrá encontrar diferentes eventos a los cuales puede
    asistir, tambien, puede crear eventos para realizar sus salidas matutinas y por que no? otras personas lo pueden 
  acompañar en esta travesia, atrevete y disfruta todo lo que puede aprender, te esperamos.
Disfruta de tus mejores rutas</p>

<p>Rutas recomendadas:</p>


</ion-content>

<ion-button color="medium" expand="block" [routerLink]="['/rutas']">Registrate</ion-button>
<app-footer></app-footer>

<div id="pagina_de_inicio">
  <ion-img id="img-logo" src="../../../assets/logos/Logo Blanco 2.png" alt="Logo bicicletas"></ion-img>    
</div>










<!-- 
<ion-content>
  <ion-content>

  </ion-content>
  
  <ion-img id="gif-bici" src="https://media.tenor.com/jIscDobMcvkAAAAM/bmx-biking.gif" alt="Bici"></ion-img>

</ion-content> -->


