<app-header class="ion-text-center" titulo="Informacion de la ruta "></app-header>

<ion-content>

    <div class="row container">
        <div class="col-2"></div>

        <div class="col">

            <div class="listRuta--grid" style="text-align: center;">
                <div class="col-4 mb-6">
                    <ion-card>
                        <ion-card-header>
                            <!--  <ion-card-title>Inicio: {{listRut.start_route}}</ion-card-title>
                        <ion-card-title>Fin: {{listRut.end_route}}</ion-card-title>
                         -->
                        </ion-card-header>
                    </ion-card>
                </div>
            </div>
        </div>
    </div>

</ion-content>