<ion-header class="ion-no-border" [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="medium" defaultHref="/definir"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize">Rutas afiliadas</ion-title>
  
    </ion-toolbar>
  </ion-header>
<ion-content>
    <div class="row container">

        <div class="col-2"></div>

        <div class="col">


            <div class="rutas--grid" style="text-align: center;">
                <div class="col-4 mb-6" *ngFor="let rut of rutas">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>Inicio: {{rut.start_route}}</ion-card-title>
                            <ion-card-title>Fin: {{rut.end_route}}</ion-card-title>
                            <ion-card-subtitle>Nivel: {{rut.route_level}}</ion-card-subtitle>
                            <ion-card-subtitle>Dia y hora: {{rut.date_route}}</ion-card-subtitle>
                        </ion-card-header>
                        <ion-button fill="clear" id="btn1{{rut.id}}" (click)="cancelar(rut.id)"> Cancelar mi suscripción
                        </ion-button>
                        <!-- <ion-button fill="clear" id="btn2" (click)="comments(rut.id)"> <ion-icon name="mail-outline"></ion-icon> Mensajes </ion-button>           -->
                        <ion-button fill="clear" id="open-modal" (click)="setOpen(true,rut.id)"
                            expand="block">Open</ion-button>
                    </ion-card>

                    <ion-modal [isOpen]="isModalOpen">
                        <ng-template>
                            <ion-header>
                                <ion-toolbar>
                                    <ion-buttons slot="start">
                                        <ion-button [strong]="true" (click)="setOpen(false, rut.id)">Cerrar</ion-button>
                                    </ion-buttons>
                                    <ion-title>Comentarios </ion-title>

                                </ion-toolbar>
                            </ion-header>

                            <ion-content class="ion-padding">

                                <div class="comentarios--grid">
                                    <div class="col-4 mb-6" *ngFor="let comm of comentarios">
                                        <ion-card-subtitle> {{comm.comment}} </ion-card-subtitle>
                                    </div>
                                </div>

                                <form class="mid-form" (ngSubmit)="enviarDatos(rut.id)">
                                    <div class="modal-content">
                                        <ion-list lines="none">
                                            <ion-item>
                                                <ion-input type="text" placeholder="Escribe un comentario..."
                                                    [(ngModel)]="comentPublicar" name="comentario_"></ion-input>
                                                <ion-button slot="end" type="submit"><ion-icon
                                                        name="paper-plane-outline"></ion-icon></ion-button>
                                            </ion-item>
                                        </ion-list>
                                    </div>
                                </form>


                            </ion-content>
                        </ng-template>
                    </ion-modal>
                </div>

            </div>
        </div>
    </div>


</ion-content>