<app-header class="ion-text-center" titulo="Historial de mis rutas "></app-header>

<ion-content>
    <div class="row container">
        <div class="col-2"></div>

        <div class="col">

            <div class="listRuta--grid" style="text-align: center;">
                <div class="col-4 mb-6" *ngFor="let listRut of listRuta">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>Inicio: {{listRut.start_route}}</ion-card-title>
                            <ion-card-title>Fin: {{listRut.end_route}}</ion-card-title>
                            <ion-card-subtitle>Nivel: {{listRut.route_level}}</ion-card-subtitle>
                            <ion-card-subtitle>Dia y hora: {{listRut.date_route}}</ion-card-subtitle>
                            <ion-card-subtitle>id: {{listRut.id}}</ion-card-subtitle>
                        </ion-card-header>
                        <ion-button color="dark" (click)="enviarEditar(listRut.id)">

                            <ion-icon name="create-outline"></ion-icon>
                            Editar ruta
                        </ion-button>
                        <!-- <ion-button color="dark" *ngIf=”listRut.date_route>=fechaactual><ion-icon
                            name="paper-plane-outline"></ion-icon></ion-button> -->
                    </ion-card>
                    <br>

                </div>

            </div>
        </div>
    </div>


</ion-content>